.feedbackForm {
  margin: auto;
  width: 100%;
  padding: 0 10px;
  max-width: 488px;
}
.form {
  display: flex;
  flex-wrap: wrap;
}
.inputWrap {
  flex-grow: 0.5;
  position: relative;
}
.inputWrap:first-child {
  margin-right: 8px;
}
.inputField {
  width: 100%;
  height: 58px;
  font-size: 16px;
  font-weight: 600;
  color: #363636;
  line-height: 16px;
  padding: 12px 10px 0;
  border-radius: 2px;
  border: 1px solid #dee2e6;
}
.textareaField {
  width: 100%;
  resize: none;
  font-size: 16px;
  font-weight: 600;
  color: #363636;
  line-height: 16px;
  min-height: 122px;
  border-radius: 2px;
  padding: 28px 10px 0;
  border: 1px solid #dee2e6;
}
.label {
  top: 12px;
  left: 12px;
  font-size: 12px;
  font-weight: 300;
  color: #363636;
  line-height: 12px;
  position: absolute;
}
.textareaWrap {
  width: 100%;
  flex-grow: 1;
  margin-top: 12px;
}
.submitButton {
  width: 100%;
  height: 40px;
  border: none;
  display: flex;
  font-size: 16px;
  max-width: 147px;
  font-weight: 700;
  color: #ffffff;
  line-height: 40px;
  border-radius: 2px;
  margin: 48px auto 0;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  background-color: rgb(71 127 181 / 100%);
}
.submitButton:disabled {
  background-color: rgb(71 127 181 / 50%);
}
.errorText {
  color: tomato;
  font-size: 12px;
}

@media (max-width: 480px) {
  .inputWrap:first-child {
    margin-right: 0;
  }
  .inputWrap {
    flex-grow: 1;
    width: 100%;
    margin-bottom: 10px;
  }
  .textareaWrap {
    margin-top: 0;
  }
}