.header {
  top: 40px;
  left: 0;
  right: 0;
  z-index: 2;
  margin: auto;
  display: flex;
  padding: 0 10px;
  max-width: 1440px;
  position: absolute;
  align-items: center;
  justify-content: space-between;
}

.contactUs {
  gap: 8px;
  display: flex;
  padding: 0px 24px;
  border-radius: 2px;
  flex-direction: row;
  align-items: center;
  background: #e1f0ff;

  color: #477fb5;
  text-decoration: none;

  height: 40px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  transition: all 0.3s ease-out;
}

.contactUs:hover {
  color: #e1f0ff;
  background-color: #477fb5;
}
.contactUs:hover .emailIcon path{
  fill: #fff;
}

.emailIcon path {
  transition: all 0.3s ease-out;
}

.socialLink {
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 2px;
  align-items: center;
  background: #e1f0ff;
  justify-content: center;
  transition: all 0.3s ease-out;
}
.socialLink:hover {
  background: #477fb5;
}
.socialLink:hover .socialIcon path {
  fill: #fff;
}
.socialIcon path {
  transition: all 0.3s ease-out;
}

.socialLink:not(:last-child) {
  margin-right: 8px;
}
.leftBlock {
}

.rightBlock {
  display: flex;
  align-items: center;
}
