.footer {
  margin: auto;
  padding: 0 10px 10px;
  max-width: 1440px;
}
.list {
  display: flex;
  list-style: initial;
  align-items: center;
  justify-content: space-between;
}
li {
  font-size: 14px;
  color: #333333;
  line-height: 20px;
  letter-spacing: 0.5px;
}
.link {
  color: #333333;
}
